body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.test-profile-card {
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    background:#eaeaea ;
}

.test-user-name {
    font-family: Arial, Helvetica, sans-serif;
}
.test-user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li {
    list-style-type: none;
}

@media screen and (min-width:700){
    .box {
        display: flex;
    }
    
    .test-profile-card {
        width: max-content;
    }
}
